---
import { Image } from "astro:assets";

const { firstName, lastName, position, company, image } = Astro.props;

// https://avatars.githubusercontent.com/u/11207890?s=400
console.log("Astro.props", Astro.props);
---

<div class="flex flex-col items-center pt-8 space-x-2">
  <div
    class="w-48 h-48 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"
  >
    {
      /* <img
        class="w-48 h-48 rounded-full"
        srcset="https://avatars.githubusercontent.com/u/11207890?s=100 100w, https://avatars.githubusercontent.com/u/11207890?s=200 200w, https://avatars.githubusercontent.com/u/11207890?s=400 400w, https://avatars.githubusercontent.com/u/11207890?s=600 600w, https://avatars.githubusercontent.com/u/11207890?s=800 800w"
        sizes="(max-width: 600px) 100px, 200px, 400px, 600px, 800px"
        // src="https://ravuthz.github.io/static/images/ravuthz.jpg"
        src="https://avatars.githubusercontent.com/u/11207890?s=400&v=4"
        alt="profile"
      /> */
    }
    <Image
      src={image}
      alt="profile"
      width="200"
      height="200"
      class="w-48 h-48 rounded-full"
    />
  </div>
  <h3 class="pt-4 pb-2 text-2xl font-bold leading-8 tracking-tight">
    {firstName}
    {lastName}
  </h3>
  <span class="text-gray-500 dark:text-gray-400">{position}</span>
  <span class="text-gray-500 dark:text-gray-400">{company}</span>
</div>
